@use "../init.sass" as *
@use "../../mixin/index.mixin.sass" as *

.btn
    background: $bg
    width: calc($width / 8)
    height: calc($height / 16)
    border: none
    border-radius: 30px
    cursor: pointer
    box-shadow: none
    transition: all 0.3s ease-in-out

    @include stop-highlight-light()

    &:hover
        box-shadow: $regular-shadow

