@use "../init.sass" as *

.admin-btn
    background: $bg
    width: calc($width / 4)
    height: calc($height / 4)
    border: 1px solid $border
    border-radius: 30px
    box-shadow: $regular-shadow

