@use "../init.sass" as *

.btn
    background: $bg
    width: calc($width / 4)
    height: calc($height / 4)
    border: none
    border-radius: 30px
    box-shadow: none
    transition: all 0.5s ease-in-out

    &:hover
        box-shadow: $regular-shadow

