@use "../init" as *
@use "../../mixin/index.mixin" as mixin

.ctn
    min-height: 100vh
    width: clamp(20rem, 90vw, 75rem)
    border-radius: 30px
    box-shadow: $regular-shadow
    transition: all 0.5s ease-in-out
    @include mixin.center(column, center, center)
    
    &:hover
        box-shadow: none
