@use "./mixin/index.mixin" as mixin

*, *::before, *::after
    box-sizing: border-box
    
    @include mixin.reset()
    

html
    scroll-behavior: smooth
    

body
    // background: var(--bg)
    // font: 16px 1.5
    margin: 0
    padding: 0

    @include mixin.center(column, center, center)


input, button, textarea, select
    font: inherit
