@use "./styles/components/init" as *
@use "./styles/mixin/index.mixin" as mixin

*, *::before, *::after
    box-sizing: border-box
    
    
    +mixin.reset()
    

html
    scroll-behavior: smooth
    

body
    // background: var(--bg)
    font-family: $font-family
    margin: 0
    padding: 0

    +mixin.center(column, center, center)

img, picture, video, canvas, svg
    display: block
    max-width: 100%

input, button, textarea, select
    font: inherit

:is(p, h1, h2, h3, h4, h5, h6)
    overflow-wrap: break-word