@use "./app.sass"
    
*
    box-sizzing: border-box

    @include reset()
    

html
    scroll-behavior: smooth

body
    padding: 0
    margin: 0
    // background: var(--bg)
    // font: 16px 1.5

input, button, textarea, select
    font: inherit
