@use "sass:map"
@use "../mixin/index.mixin"

$dir: "../../fonts/" !default

$weight: (
    100: "Thin", 
    200: "ExtraLight", 
    300: "Light", 
    400: "Regular", 
    500: "Medium", 
    600: "SemiBold", 
    700: "Bold", 
    800: "ExtraBold", 
    900: "Black"
)

$all: (100, 200, 300, 400, 500, 600, 700, 800, 900)
 
+family("Gelion", $weights: (400, 500, 700))
+family("Lexend Deca", "LexendDeca", (100, 200, 400, 500, 600, 700, 900))
+family("Poppins", $weights: $all, $italics: $all)
+family("Montserrat", $weights: $all, $italics: $all)
