
// Color
$bg: white
$text: black
$border: gray


// Typography
    
// Measurement
width: 100vw
height: 100vh

// Layout

    

// Effect

$regular-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
$neumorphism-shadow: 5px 5px 13px #d6d6d6, -5px -5px 13px #ffffff;






