@use "../components/init"

/**/
@mixin reset()
    padding: 0
    margin: 0

    @debug "reset mixin called"

/**/
@mixin stop-highlight-light()
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    @debug "stop-highlight-light mixin called"

/**/
@mixin center($direction: both, $justify: center, $align: center)
    display: flex
    justify-content: $justify
    align-items: $align

    @debug "center mixin called with direction: #{$direction}, justify: #{$justify}, align: #{$align}"


/* [ Keyframe ] Animations - From To */
@mixin effect_from_to($name,$from, $to)
    @keyframe #(name)
        from
            @each $props, $val in $from
                #{$props}: $val
        to
            @each $props, $val in $to
                #{$props}: $val

        @debug "From-to #{$name} effect called"

/* [ Keyframe ] Animation - Percentage */
@mixin effect_percentage($name,$start, $mid, $end)
    @keyframe #(name)
        0%
            @each $props, $val in $start
                #{$props}: $val
        50%
            @each $props, $val in $mid
                #{$props}: $val
        100%
            @each $props, $val in $end
                #{$props}: $val

        @debug "Percentage #{$name} effect called"

/* [ Keyframe ] Animation - Symmetrical */
@mixin effect_symmetric($name, $prop, $rest, $peak)
    @keyframe #(name)
        0%, 100%
            #{$prop}: $val
        50%
            #{$prop}: $val


        @debug "Symetric #{$name} effect called"