@use "../init" as *
@use "../../mixin/index.mixin" as mixin
    
.input
    border-radius: 30px
    border: none
    width: 20rem
    height: 3rem
    padding: 20px
    margin: 10px
    transition: all $transition-duration-fast ease-in-out

    +mixin.unable-highlight-light()

    &:hover
        border: 0.5px solid black
    