@use "../init" as *
@use "../../mixin/index.mixin" as mixin
    
.input
    // border-radius: 30px
    content: ""
    border: none
    width: 20rem
    height: 3rem
    padding: 10px
    margin: 10px
    outline: none
    box-shadow: none
    transition: all $transition-duration-fast ease

    +mixin.unable-highlight-light()

    &:hover
        border-bottom: 1px solid black
        outline: none
        box-shadow: none
        transition: none

    &:focus, &:active
        border-bottom: 1px solid black
        