// Color
$bg: white 
$text: black 
$border: gray 

// Typography
$font-family: "Montserrat Thin", sans-serif

// Measurement
$width: 100vw
$height: 100vh

// Layout


// Effect
$bg-disabled: #e0e0e0
$regular-shadow: 5px 10px 14px rgba(0, 0, 0, 0.1)
$neumorphism-shadow: 5px 5px 13px #d6d6d6, -5px -5px 13px #ffffff;

// Duration
$transition-duration-slow: 0.5s
$transition-duration-fast: 0.3s

// [ PX ] Devices Dimension
$mobile_px: 480px
$tablet-px: 768px
$desktop-px: 1024px
$large-desktop-px: 1200px
$ultra-desktop-px: 1440px
$quad-hd-px: 2560px
$octa-hd-px: 3840px

// $10k: 7680px
// $16k: 15360px
// $32k: 30720px
// $64k: 61440px
// $128k: 122880px
// $256k: 245760px
// $512k: 491520px
// $1m: 983040px
// $2m: 1966080px
// $4m: 3932160px
// $8m: 7864320px
// $16m: 15728640px

// [Rem] Devices Dimension
$mobile_rem: 30rem
$tablet-rem: 48rem
$desktop-rem: 64rem
$large-desktop-rem: 75rem
$ultra-desktop-rem: 90rem
$quad-hd-rem: 160rem
$octa-hd-rem: 240rem

// $10k-rem: 480rem
// $16k-rem: 960rem
// $32k-rem: 1920rem
// $64k-rem: 3840rem
// $128k-rem: 7680rem
// $256k-rem: 15360rem
// $512k-rem: 30720rem
// $1m-rem: 61440rem
// $2m-rem: 122880rem
// $4m-rem: 245760rem
// $8m-rem: 491520rem
// $16m-rem: 983040rem