// Color
$bg: white 
$text: black 
$border: gray 

// Typography
$font-family: "Montserrat Thin", sans-serif

// Measurement
$width: 100vw
$height: 100vh

// Layout


// Effect

$regular-shadow: 5px 10px 14px rgba(0, 0, 0, 0.1)
$neumorphism-shadow: 5px 5px 13px #d6d6d6, -5px -5px 13px #ffffff;

// Duration
$transition-duration-slow: 0.5s
$transition-duration-fast: 0.3s
